* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  font-family: "Roboto";
  background: #e6e6e6;
  padding: 16px;
}

#chat-bubble {
  height: 55px;
  overflow: hidden;
  min-width: 285px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 50px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 1px solid #e4e4e4;
}

#chat-bubble.open {
  min-height: 350px;
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 25px;
  z-index: 10;
  position: relative;
  padding: 8px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s ease-in;
}
.profile-img {
  height: 35px;
  width: auto;
}
.chat-header:hover {
  background-color: #f7f7f7;
}

.user-avatar {
  display: flex;
  flex: 1;
}

.user-avatar img {
  border-radius: 50%;
  margin-right: 8px;
}

.user-avatar .img-container {
  position: relative;
}

.user-avatar .user-status-info a {
  font-size: 13px;
  margin: 0;
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

.user-avatar .user-status-info p {
  font-size: 11px;
  color: gray;
}

.chat-comm {
  display: none;
}

#chat-bubble.open .chat-comm {
  display: block;
}

.chat-comm a {
  text-decoration: none;
}

.chat-body {
  padding: 8px;
}

.sender-other .user-avatar .img-container img {
  width: 25px;
}

.sender-other .user-avatar .img-container::after {
  width: 7px;
  height: 7px;
  right: 4px;
  bottom: 6px;
}

.sender-other .other-message {
  background-color: #f1f0f0;
  border-radius: 25px;
  padding: 8px 11px;
  font-size: 14px;
}

.sender-me {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sender-me .my-message {
  background-color: #1d7745;
  color: #fff;
  border-radius: 25px;
  padding: 8px 11px;
  font-size: 14px;
}

.chat-footer {
  display: flex;
  box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 8px;
}
.chat-footer .message-box {
  width: 70%;
}

.chat-footer .message-submit {
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 10px;
  color: #fff;
  border: none;
  background: #248a52;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  padding: 6px 10px;
  border-radius: 10px;
  outline: none !important;
}
.chat-footer .message-submit:hover {
  background: #1d7745;
}
.chat-footer input[type="textarea"] {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  width: 100%;
  border: none;
  padding: 8px 8px;
  border-radius: 20px;
}

.chat-footer input[type="textarea"]:focus {
  outline: none;
}
.chat-footer .message-box {
  margin: 10px 10px;
}
